.fixture-list {

}

.fixture {

  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;

  &:nth-child(4n+1) {
    background-color: #543d95;
  }

  &:nth-child(4n+2) {
    background-color: #4155b4;
  }

  &:nth-child(4n+3) {
    background-color: #49bcab;
  }

  &:nth-child(4n+4) {
    background-color: #86499f;
  }

}

.fixture__wrap {
  position: relative;
  width: 100%;
  padding: 10% 5%;
  @include mq(tablet) {
    display: flex;
  }
}

.fixture__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  height: 100%;
  transform: translateX(-50%);
  opacity: 0.025;
}

.fixture__meta {

  clear: left;
  padding-top: 30px;

  @include mq(tablet) {
    order: 2;
    width: 60%;
    padding-top: 0;
  }

}

.fixture__match-day {
  margin-bottom: 40px;
}

.fixture__versus span,
.fixture__score span {

  @include font-size(120);
  font-family: Adelle;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  color: #fff;

  @include mq($until: tablet) {
    @include font-size(80);
  }

}

.fixture__versus {
  @include mq($until: tablet) {
    display: none;
  }
}

.fixture__score--home,
.fixture__score--away {
    padding: 0 10px;
}

.fixture__date,
.fixture__venue {
  @include font-size(14);
  margin: 0;
  font-family: OpenSans;
  color: #ffd255;
}

.fixture__venue {
  color: #fff;
}

.fixture__type {

  @include font-size(12);
  display: block;

  & span {
    display: inline-block;
    padding: 5px 10px;
    font-family: OpenSans;
    background-color: #E31C79;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
  }

  &--pool-a span {
    background-color: #62B5E5;
  }

  &--pool-b span {
    background-color: #C4D600;
  }

  &--pool-c span {
    background-color: #E31C79;
  }

  &--pool-d span {
    background-color: #F6BE00;
  }

  &--quarter-finals span,
  &--semi-finals span {
    background-color: #8d9092;
  }

  &--bronze-final span {
    background-color: #95694c;
  }

  &--final span {
    background-color: #84764d;
  }

}
