.team {

  @include ratio-box;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.04);
  margin-bottom: 50px;

  &__wrap {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }

  &--winner {
    border: 5px solid #ffd255;
  }

  &--home,
  &--away {

    @include mq($until: tablet) {
      @include span(6);
    }

    @include mq(tablet) {
     -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
      width: 20%;
    }

  }

  &--away {

    @include mq($until: tablet) {
      // @include pre(1);
      @include last;
    }

    @include mq(tablet) {
      -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    }

  }

  &--winner & {
    border: 3px solid #fff;
  }

  &__logo {

    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 65px;
    background-image: url("/images/flags.png");

    &--ENG {
      background-position: 0 -2100px;
    }

    &--FJI {
      background-position: 0 -2310px;
    }

    &--TGA {
      background-position: 0 -7140px;
    }

    &--GEO {
      background-position: 0 -2450px;
    }

    &--IRE {
      background-position: 0 -3150px;
    }

    &--CAN {
      background-position: 0 -1330px;
    }

    &--RSA {
      background-position: 0 -6090px;
    }

    &--JPN {
      background-position: 0 -3570px;
    }

    &--FRA {
      background-position: 0 -2380px;
    }

    &--ITA {
      background-position: 0 -3360px;
    }

    &--SAM {
      background-position: 0 -6300px;
    }

    &--USA {
      background-position: 0 -7910px;
    }

    &--WAL {
      background-position: 0 -8260px;
    }

    &--URU {
      background-position: 0 -7840px;
    }

    &--NZL {
      background-position: 0 -5390px;
    }

    &--ARG {
      background-position: 0 -140px;
    }

    &--SCO {
      background-position: 0 -6370px;
    }

    &--AUS {
      background-position: 0 -350px;
    }

    &--ROM {
      background-position: 0 -6020px;
    }

    &--NAM {
      background-position: 0 -5040px;
    }

    &--null {
      background-position: 0 0;
    }

  }

  &__abbr,
  &__place {
    @include font-size(22);
    font-family: Adelle;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
  }

  &__place {
    @include mq($until: mobile-large) {
      @include font-size(12);
    }
  }

  &__abbr {
    margin-bottom: 0;
  }

}

