<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <body>
      <pre><%= JSON.stringify(mData) %></pre>
      <pre><%= JSON.stringify(pData) %></pre>
    </body>
</html>